body{
  display: flex;
  flex-direction: column;    /* centers horizontally */ 
  background: linear-gradient(120deg, rgb(161, 69, 240), rgb(97, 45, 116));

}
main{
  flex:1;
}
.container h1{
  padding-bottom: 15px;
  font-style: oblique;
  color: rgb(248, 197, 130);
}

.contact {
  width: 32%;
  margin: 40px auto;
  background: rgba(88, 152, 196, 0.664);
  padding: 35px;
  border-radius: 14px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(98,186,150,0.3);
  
  
}

.contact form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  
}

.contact input,
.contact select{
  padding: 9px;
  border-radius: 10px;
  border: 1px solid rgb(219,151,219);
  text-align: left;
  font-size: 15px;
}

.contact button {
  background: linear-gradient(to right,rgba(234, 154, 234, 0.607),rgb(192, 81, 146));
  color: rgb(255, 255, 255);
  border: none;
  padding: 12px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  font-size: 23px;
}

.contact button:hover {
  background: rgb(125, 95, 126);
}
label{
    text-align: left;
    color: antiquewhite;
    font-weight: bold;
    font-size: 20px;
}
