.simple-profile {
  display: flex;
  justify-content: center;
  padding: 2rem;
  margin: 10px;
  
}

.profile-card {
  text-align: center;
  background: rgba(255, 255, 255, 0.961);
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 2rem;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);

}

.profile-avatar {
  width: 350px;
  height: 250px;
  border-radius: 800%;
  margin-bottom: 1rem;
}

.profile-name {
  margin: 0.5rem 0;
  color: #4a90e2;
}

.profile-email,
.profile-language {
  color: #555;
  margin: 0.3rem 0;
}

.profile-actions {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-around;
}

.btn-settings,
.btn-logout {
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

.btn-settings {
  background: #4a90e2;
  color: #fff;
}

.btn-settings:hover {
  background: #357abd;
}

.btn-logout {
  background: #e74c3c;
  color: #fff;
}

.btn-logout:hover {
  background: #c0392b;
}
